html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 50%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-wrap{
  height: 20px !important; 
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.swiper-pagination{
  height: 10px;
  width: 50%;
  position: unset;
}
.swiper-button-next:after{
  display: none;
}
.swiper-button-prev:after{
  display: none;
}
.slider-swiper-container{
  display: grid;
}

/* Buttons */
.btn {
  color: #FFFFFF;
  position: relative;
  place-content: center;
  place-items: center;
  width: fit-content;
  letter-spacing: 0.05em;
  border: none;
  text-decoration: none;
  padding: 1rem 3.5rem;
  white-space: nowrap;
  outline: none;
  transition: all 0.22s;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.btn.big{
  width: 90%;
  margin: 0 auto;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 1!important;
  background: #eee!important;
  border-color: #ddd!important;
  color: #999!important;
}

.btn:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.btn.primary{
  background-color: #1BC47D;
}
.btn.secondary{
  background-color: transparent;
}
.swiper-container{
  /* width: unset;
  height: unset;
  position: unset; */
}