.dots-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dots-array{
  display: flex;
  justify-content: space-between;
}
.dot{
  width: 30px;
  height: 4px;
  outline: none;
  border: none;
  background-color: transparent;
  /* margin-right: 10px; */
}
.active-dot{
  background-color:#10AD6B;
}
.dot:hover{
  cursor: pointer;
}